@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

:root {
  --color-primary: #9e0096;
  --color-secondary: #700074;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --potta-one: "Potta+One", cursive;
}

*{
  padding: 0;
  margin: 0;
  
}
body{
  background: #fff;
}

header > .text > .img-fluid{
  height: 250px !important;
  width: 1920px;
}

nav > .nav > .container-fluid {
  display: flex;
  justify-content: space-between;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1{
  position: absolute;
  color: #fff;
  font-family: cursive;
}
.h5{
  position: absolute;
  color: #fff;
  margin-top: 100px;
  font-size: 25px;
}

.nav-item{
  font-size: 1.2rem;
}

.dropdown{
  font-size: 1.5rem;
}
.dropdown > a{
  font-size: 1.1rem;
}

.dropdow-item{
  color: #fff;
}

.dropdown-menu > .bg-dark{
  color: #fff;
} 
/* Footer */
footer {
  background: #212529;
  height: auto;
  width: 100%;
  font-family: var(--roboto);
  padding-top: 20px;
  bottom: 0;
  position: relative;
  font-family: var(--potta-one);
  
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  
}
.stelko0u{
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-size: 1.5rem;
  
}

.stelko0u:hover{
  transition: 0.5s;
  color: rgb(93, 93, 93);
}

/* Social Bar */
.social-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-bar i{
  margin: 10px;
}
.fa-instagram{
  color: rgb(255, 0, 123);
}
.fa-instagram:hover{
  color:  rgb(150, 1, 64)
}

main{
  position: relative;
  justify-content: center;
  align-items: center;
}

main > .container {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(255, 255, 255);
  color: #111;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 15px;
}

.col > h1{
  font-size: 50px;
  font-weight: 600;
}
.col > h5{
  font-size: 25px;
  font-weight: 400;
}

.yellow-bar{
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color:rgba(255,213,79,1);
  position: relative;
  text-align: center;
}
.yellow-bar > .btn{
  margin-left: 20px;
}










@media screen and (max-width: 1200px) {
  header > .text > .img-fluid{
    height: 100px !important;
  }
  footer{
    bottom: auto;
  }
   .h5{
     margin-top: 40px;
     font-size: 16px;
   }
   .yellow-bar > .btn{
     margin-left: 0;
     margin-top: 5px;
   }
   footer{
     font-family: var(--roboto);
   }
}